* {
    box-sizing: border-box;
}

header {
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: space-between;
    border: 1px black solid;
}

.header-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 20px;
    width: 200px;
}

.logo {
    width: 50px;
    height: 50px;
}

.header-center {
    padding: 10px;
    display: flex;
    flex-grow: 2;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
    visibility: hidden;
}

.header-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 20px;
    width: 200px;
}

#switch-mode{
    list-style: none;
    margin: auto 0px;
    padding: 2px;
}

.hero {
    margin: 10px;
    padding: 20px;
    align-content: center;
    text-align: center;

}

.name {
    border: green solid 1px;
    height: 60px;
    display: flex;
    justify-content: center;
    justify-items: center;
    margin: 10px 0px;
}

h2 {
    border: red solid 1px;
    width: 100%;
    font-size: 3vh;
    margin: 0px;
}

.profile-photo {
    width: 256px;
    height: 256px;
    border-radius: 50%;
    margin: auto;
    background-color: lightblue;
}

/*temporary*/
.profile-photo p {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0px;
}

.skill-list {
    padding: 10px;
    font-size: 25px;
    list-style: none;
}

.skill-list li {
    padding: 2px;
    margin: 2px;
}

.page-links {
    padding: 20px;
    display: flex;
    flex-direction: column;
    margin: 0px;
    background-color: lightgray;
}

.portfolio-link {
    height: 60px;
    width: 60%;
    margin: 10px auto;
    background-color: darkgreen;
    color: white;
}

.aboutMe-link {
    height: 60px;
    width: 60%;
    margin: 10px auto;
    background-color: lightgreen;
}

@media screen and (min-width: 480px) {
    .name {
        display: inline-flex;
        margin: 0px;
        vertical-align: middle;
        align-items: center;
        height: 100px;
        width: 256px;
    }
    
    h2 {
        width: 100%;
        height: 50%;
        text-align: center;
        
    }
    
    .profile-photo {
        display: inline-flex;
        margin: 0px;
        vertical-align: middle;
    }

    .page-links {
        display: flex;
        justify-content: center;
        flex-direction: row;
    }
    
    .portfolio-link {
        width: 50%;
        margin: 10px 20px 10px 15%;
    }
    
    .aboutMe-link {
        width: 50%;
        margin: 10px 15% 10px 20px;
    }
}

@media screen and (min-width: 1024px) {
    .hero * {
        border: 1px solid black;
    }
    
    .header-center {
        visibility: visible;
    }
    .hero {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .profile-photo {
        margin: 0px;
        width: 300px;
        height: 300px;
    }

    .skill-list {
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        vertical-align: middle;
        width: 300px;
        height: 300px;
        padding: 0px;
    }

    .name, h2 {
        display: none;
    }

    .page-links {
        position: relative;
        width: 100%;
        height: 250px;
        padding: 0px;
        margin-top: 50px;
    }

    .portfolio-link {
        border: green solid 1px;
        height: 200px;
        width: 20%;
        position: absolute;
        top: -50px;
        left: 29%;
        right: 50%;
        margin: 0px;        
    }
    
    .aboutMe-link {
        border: green solid 1px;
        height: 200px;
        width: 20%;
        position: absolute;
        top: -50px;
        right: 15%;
        left: 51%;
        margin: 0px;
    }
}




/*


ul {
    margin: 0;
    padding: 0;
}
*/



/*
<body>
    <main>
        <header>
            <button type="button" class="logo">Logo Placeholder</button>
            <title>Marc Tucker</title>
            <div>
                <button type="button" class="mode-casual">Switch Mode</button>
                <p>current: casual</p>
            </div>
        </header>
        
        <section class="hero">
            <h1>Marc Tucker</h1>
            <div class="profile-photo"></div>
            <p>Full Stack Engineer <br>
                Game Developer <br>
                Game player <br>
                Theatre nerd <br>
                and Coffee Enthusiast <br>
            </p>
        </section>

        <section class="page-links">
            <div class="portfolio-link"></div>
            <div class="aboutMe-link"></div>
        </section>

        <footer>
            <ul>
                <li>Marc Tucker</li>
                <li>704-754-2488</li>
                <li>devops@pixelgrindgames.com</li>
            </ul>
        </footer>
    </main>
</body>
*/